html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
.bg-black {
    background-color: #DADDD8;
}

.bg-grey {
    background-color: #454545;
}

.bg-purple {
    background-color: #1f98a2;
}

.bg-green {
    background-color: #557f83;
}

.navbar {
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 100%;
}

.img-full {
    animation: blurout 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    width: 100%;
    height: 93vh;
}

.text-fade-in {
    opacity: 0;
    animation: fadein 1s;
    animation-fill-mode: forwards;
}

.text-header-content {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 2px 2px 8px #000000;
}

.text-home {
    width: 100%;
    text-shadow: 2px 2px 8px #000000;
    position: absolute;
    top: 56px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.43);
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    height: 93vh;
    animation-delay: 1s;
}

.card {
    background-color: white;
    border: 2px solid #525252;
    color: black;
}

.card-header {
    background-color: #557f83;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color: #F0CEFF;
    font-size: 10pt;
    text-align: center;
    padding-top: 15px;
}

.contact-form{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.extendo-head {
    height: 56px;
}
.extendo-foot {
    height: 70px;
}

@keyframes blurout {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(4px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .img-full {
        width: 100%;
        height: 93vh;
    }
}

#map {
        height: 100%;
      }
